{% extends "basefront.html.twig" %}
{% block body %}
    <main>
        <div id="content">
            <!--Volets de demo de chaque projet-->
            <div id="projectsGrid">
                <a class="project" href="{{ path("work") }}">
                    <div>
                        <div class="shutterProject w-100 h-100 d-flex justify-content-center align-items-center flex-column">
                            <h6>Projet Atelier 2</h6>
                            <img src="{{ asset("img/work_atelier2.png") }}">
                        </div>
                    </div>
                    <img src="{{ asset("img/find_icon.png") }}" class="h-100">
                </a>
                {% for i in 0..10 %}
                    <a class="project">
                        <div>
                            <div class="shutterProject w-100 h-100 d-flex justify-content-center align-items-center flex-column">
                                <h6>Exemple projet</h6>
                                <img src="{{ asset("img/find_icon.png") }}">
                            </div>
                        </div>
                        <img src="{{ asset("img/exemple_work.png") }}" class="w-100">
                    </a>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}